html {
    height: 100%;
}

body {
    max-width: 640px;
    min-width: 320px;
    height: 100%;
    width: 100%;
    margin: 0 auto !important;
    /* position: fixed; */
    background-color: lightgray !important;
    padding-bottom: 50px;
}

.weui-tab img {
    width: 20px;
}
.weui-tab p{
    margin: 0px !important;
}

.topbar {
    color: white;
    height: 40px;
    line-height: 40px;
    background-color: black;
}

a {
    text-decoration: none !important;
}