body{
    max-width: 640px;
    min-width: 320px;
    height: 100%;
    width: 100%;
    margin: 0 auto!important;
    position: relative;
    background-color: lightgray;
}
html{
    height: 100%;
}

#discover img{
    width: 20px;
}

.topbar{
	height: 25px;
    background-color:darkgray;
    position: fixed;
    z-index: 500;
    right: 0;
    left: 0;
    width: 100%;
}
.text1{
	font-size: 14px;
}
.text2{
	font-size: 14px;
	float: right;
	vertical-align: middle;
}
.clearfix:after {
    content:""; 
    display: block; 
    clear:both; 
 }

